.form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: none;
}

.form h1 {
    text-align: center;
    color: white;
}

label {
    color: white;
}

body{
    background-size: 100%
}

.navbar {
    display: inline-flex;
    list-style-type: none;
}

.btn {
    margin: 20px;
}

.party {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}